<div class="app-shell" [class.dark-theme]="theme() === 'dark'">
  <app-header
    [title]="config().dockerRegistryUiTitle ?? 'Docker Registry UI'"
    [searchValue]="filter()"
    [showRegistryMenu]="!(config().singleRegistry ?? true)"
    [readOnlyRegistries]="config().readOnlyRegistries ?? false"
    [themeAuto]="(config().theme ?? 'auto') === 'auto'"
    [darkTheme]="theme() === 'dark'"
    (searchChange)="onSearch($event)"
    (themeChange)="onThemeChange($event)"
    (menuAddUrl)="onMenuAddUrl()"
    (menuChangeUrl)="onMenuChangeUrl()"
    (menuRemoveUrl)="onMenuRemoveUrl()"
  />
  <main class="main">
    <nz-breadcrumb class="app-breadcrumb">
      @for (item of breadcrumbItems(); track item.label + (item.link ?? '')) {
        <nz-breadcrumb-item>
          @if (item.link) {
            <a [routerLink]="item.link">
              @if (item.icon) {
                <span nz-icon [nzType]="item.icon"></span>
              }
              <span class="crumb-label">{{ item.label }}</span>
            </a>
          } @else {
            <span>
              @if (item.icon) {
                <span nz-icon [nzType]="item.icon"></span>
              }
              <span class="crumb-label">{{ item.label }}</span>
            </span>
          }
        </nz-breadcrumb-item>
      }
    </nz-breadcrumb>
    <router-outlet />
  </main>
  <app-footer />
</div>
